body {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 400;
  padding: 18px;
  line-height: 1.4;
}

* {
  box-sizing: border-box;
}

h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h2 {
  font-size: 20px;
}