.label {
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;

  &__asterisk {
    color: red;
    margin-right: 4px;
    display: inline-block;
  }
}

.input {
  border: 1px solid #bbb;
  padding: 0 8px;
  font-family: inherit;
  font-size: inherit;
  height: 40px;
  border-radius: 4px;
  width: 100%;

  &.has-error {
    border-color: red;
  }
}

.error-container {
  font-size: 12px;
  color: red;
  display: none;
  margin-top: 4px;

  & > * + * {
    margin-top: 2px;
  }
}

.has-error ~ .error-container {
  display: block;
}