$errorRed: #cf102d;

.label {
  font-size: 13px;
  font-weight: 600;
  display: flex;
  align-items: center;

  &__asterisk {
    color: $errorRed;
    margin-right: 4px;
    display: inline-block;
  }
}

.input {
  border: 1px solid #bbb;
  padding: 0 8px;
  font-family: inherit;
  font-size: inherit;
  height: 40px;
  border-radius: 4px;
  width: 100%;

  &.has-error {
    border-color: $errorRed;
  }
}

.error-container {
  font-size: 12px;
  font-weight: 500;
  color: $errorRed;
  display: none;
  margin-top: 4px;

  & > * + * {
    margin-top: 2px;
  }
}

.has-error ~ .error-container {
  display: block;
}

.error-summary {
  background: lighten($errorRed, 50%);
  display: none;
  padding: 16px;
  list-style-type: disc;

  & > * {
    margin-left: 16px;
  }

  & > * + * {
    margin-top: 4px;
  }

  & > * > a {
    color: $errorRed;
  }

  &.has-error {
    display: block;
  }
}